body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #ffffff;
    text-align: left; /* Cambiamos a izquierda */
    padding: 2em;
}

.container {
    display: flex;
    align-items: center;
}

.profile-photo {
    border-radius: 50%;
    width: 150px; /* Tamaño recomendado */
    height: 150px; /* Tamaño recomendado */
    margin-right: 20px;
}

.text {
    margin-left: 20px; /* Espacio entre la imagen y el texto */
}

h1 {
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid #ffffff; /* Línea blanca */
    margin: 10px 0; /* Espaciado vertical */
}

p {
    margin: 0;
}
