body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ocupa toda la ventana */
}

/*-- Sección del Header --*/

header {
    background-image: url('Header_Background2.png'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra todo el header */
    height: 100%; /* Altura del header */
    display: flex; /* Usamos flexbox para alinear el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.header-content {
    color: #ffffff; /* Color del texto para los nombres */
    text-align: center; /* Alinea el texto al centro */
    padding: 20px; /* Espaciado interno */
}

h1 {
    margin: 0; /* Elimina el margen */
    font-size: 4.5em; /* Tamaño de fuente para los nombres */
    font-family: 'Arial', sans-serif; /* Cambia la fuente aquí */
}

p {
    margin: 0;
    font-size: 1.4em; /* Tamaño de fuente para el rol */
    font-family: 'Open Sans Light'; /* Cambia a fuente sans-serif */
    color: #ffffff; /* Cambia el color a blanco */
    text-align: center; /* Centra el texto */
    font-weight: normal; /* Asegúrate de que no esté en negrita */
}

.button-container {
    margin-top: 20px; /* Espaciado entre el texto y los botones */
}

.button {
    display: inline-block; /* Muestra los botones en línea */
    background-color: transparent; /* Fondo transparente */
    color: #edf0f2; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    text-decoration: none; /* Elimina el subrayado del texto */
    border: 2px solid #edf0f2; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    font-family: sans-serif; /* Fuente sans-serif */
    font-weight: normal; /* Peso normal */
    margin: 0 10px; /* Espaciado entre los botones */
    transition: background-color 0.3s, color 0.3s; /* Efecto de transición */
}

.button:hover {
    background-color: #edf0f2; /* Cambia el color de fondo al pasar el mouse */
    color: #333333; /* Cambia el color del texto al pasar el mouse */
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    .button-container {
        display: flex;
        flex-direction: column; /* Cambia los botones a una columna */
        align-items: center; /* Centra los botones */
        gap: 10px; /* Añade espacio vertical entre los botones */
    }

    .button {
        padding: 8px 15px; /* Ajusta el tamaño del botón */
        font-size: 1em; /* Ajusta el tamaño del texto */
        margin: 5px 0; /* Reduce el margen entre los botones */
    }
}

/*-- Culminación Sección Header --*/

/*-- Sección About Me --*/

.about-me {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.about-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

/* Configuración de Flexbox para la disposición en pantallas grandes */
.photo-container {
    flex: 1; /* Ocupa 50% del ancho en pantallas grandes */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-container {
    flex: 1; /* Ocupa 50% del ancho en pantallas grandes */
    padding: 20px;
}

/* Color del texto */
.about-container h2{
    font-family: Georgia;
    font-size: 2.4em;
    color: #000000;
}

.about-container p {
    color: #333; /* Asegura que el texto sea negro en ambas vistas */
    font-family: 'Open Sans Light';
    font-size: 1.3em;
}

.about-photo {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

/* Espaciado para los párrafos */
.text-container p {
    margin-bottom: 1em; /* Espaciado inferior para separar los párrafos */
}

/* Sección de Certificaciones */
.certifications {
    margin-top: 20px;
}

.certifications h3{
    color: #333; /* Asegura que el texto sea negro en ambas vistas */
    font-family: 'Open Sans Light';
    font-size: 1.3em;
}

.badge-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.badge {
    width: 100%;
    max-width: 100px;
    height: auto;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 600px) {
    .about-container {
        flex-direction: column; /* Cambia a columna */
        align-items: center; /* Centra los elementos */
        text-align: center; /* Centra el texto */
    }

    .photo-container {
        margin: 20px 0; /* Espaciado alrededor de la foto */
        width: 100%; /* Asegura que ocupe todo el ancho */
        order: 2; /* Asegura que la foto esté al final */
    }

    .text-container {
        width: 100%; /* Asegura que ocupe todo el ancho */
        margin-bottom: 20px; /* Espacio entre texto y foto */
        order: 1; /* Asegura que el texto esté al principio */
    }

    .about-photo {
        display: none;
    }

    .certifications {
        margin-top: 20px; /* Asegura que las certificaciones tengan espacio */
        width: 100%; /* Asegura que ocupe todo el ancho */
    }

    .badge-container {
        display: flex;
        justify-content: center; /* Centra horizontalmente las imágenes */
        gap: 10px; /* Espacio entre las imágenes */
    }

    .badge {
        width: 80%; /* Ajusta el tamaño de los badges */
        max-width: 80px; /* Limita el tamaño máximo */
    }
}

/*-- Culminación Sección About Me --*/

/* Estilos para la sección de proyectos */
.projects {
    padding: 20px;
    background-color: #f4f4f4; /* Color de fondo */
    text-align: center; /* Centrar el texto */
}

.projects h2{
    font-family: Georgia;
    font-size: 2.4em;
    color: #000000;
}

.project-container {
    display: flex; /* Usar flexbox para alinear horizontalmente */
    justify-content: space-between; /* Distribuir el espacio entre las imágenes */
    gap: 20px; /* Espacio entre las imágenes */
    flex-wrap: nowrap; /* No permitir que las imágenes se envuelvan */
}

.project-item {
    position: relative; /* Posiciona el contenedor para el overlay */
    flex: 0 1 33.33%; /* Cada imagen ocupa un tercio del espacio */
    height: auto;
    overflow: hidden;
}

.project-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('customer_churn.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.project-image {
    width: 75%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    transition: opacity 0.3s ease; /* Transición suave */
    object-fit: cover; /* Mantiene la imagen cubriendo todo el espacio */
}

.project-overlay {
    position: absolute; /* Posiciona el overlay sobre la imagen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease; /* Transición suave */
    border-radius: 10px; /* Bordes redondeados */
}

.project-item:hover .project-overlay {
    opacity: 1; /* Mostrar el overlay al pasar el cursor */
}

.project-item:hover .project-image {
    opacity: 0.7; /* Hacer la imagen un poco más oscura al pasar el cursor */
}

.project-text {
    color: white; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
    text-align: center; /* Alinear texto al centro */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .project-container {
        flex-direction: column; /* Coloca los proyectos en una columna en pantallas pequeñas */
        align-items: center; /* Alinear al centro en dispositivos móviles */
    }

    .project-item {
        max-width: 90%; /* Aumenta el ancho de cada imagen en móviles */
        flex: 0 1 auto; /* Permitir que el ancho sea flexible en móviles */
    }

    .project-image {
        width: 100%; /* Hacer que la imagen ocupe todo el ancho en móviles */
        height: auto; /* Mantener la proporción de la imagen */
    }
}

/* Estilos para la Ventana Modal */
.modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed; /* Mantiene la ventana fija */
    z-index: 1; /* Asegura que esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilita el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
}

.modal-content {
    background-color: #fefefe; /* Fondo blanco para el contenido del modal */
    margin: 5% auto; /* Centrando la ventana */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Aumenta el ancho del modal (ajustado a 90%) */
    max-width: 85%; /* Establece un ancho máximo para el modal */
    border-radius: 10px; /* Bordes redondeados */
}

/* Sección del cuerpo del modal */
.modal-body {
    display: flex; /* Habilita flexbox para el cuerpo del modal */
}

/* Sección para el texto */
.left-section {
    flex: 1; /* Ocupa la mitad izquierda */
    padding: 1px; /* Espacio interno */
    text-align: center; /* Centra el texto dentro de esta sección */
}

/* Sección para las imágenes */
.right-section {
    flex: 1; /* Ocupa la mitad derecha */
    display: flex; /* Utiliza flexbox para las imágenes */
    flex-direction: column; /* Coloca las imágenes en columna */
    align-items: center; /* Centra las imágenes */
}

/* Ajustes para las imágenes en la sección derecha */
.project-image-modal1 {
    width: 53%; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 2px 0; /* Espacio vertical entre las imágenes */
}

/* Alinear las imágenes en zig-zag */
.right-section .project-image-modal1:nth-child(2) {
    margin-left: 20px; /* Desplaza la segunda imagen ligeramente hacia la derecha */
}

/* Estilos para el botón de cerrar */
.close {
    color: #aaa; /* Color del botón de cerrar */
    float: right; /* Alinea a la derecha */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black; /* Cambia el color al pasar el mouse */
    text-decoration: none; /* Elimina subrayado */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Estilos para el texto dentro del modal */
.left-section p {
    color: #333; /* Color del texto del párrafo */
    font-size: 18px;
    margin-left: 100px; /* Ajusta el valor a tu preferencia */
    margin-right: 100px; /* Ajusta el valor a tu preferencia */
}

/* Estilos adicionales para el modal, si es necesario */
.modal h2 {
    text-align: center; /* Alinea el texto del título al centro */
    color: #333; /* Color del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-size: 2em; /* Tamaño del título más grande */
}

/* Estilos para los subtítulos */
.left-section h3 {
    font-size: 1.5em; /* Tamaño de los subtítulos */
    margin-top: 15px; /* Espacio encima de los subtítulos */
    margin-bottom: 5px; /* Espacio debajo de los subtítulos */
    text-align: left; /* Alinea el texto de los encabezados a la izquierda */
    margin-left: 100px;
}

/* Estilos para centrar el texto en la sección de la izquierda */
.left-section h3 {
    text-align: left; /* Centra el texto de los encabezados en la sección izquierda */
}

/* Estilos para el círculo del número del proyecto */
.project-number {
    display: inline-block; /* Permite que el círculo se ajuste al texto */
    width: 40px; /* Ancho del círculo */
    height: 40px; /* Alto del círculo */
    border-radius: 50%; /* Bordes redondeados para hacer un círculo */
    background-color: #000000; /* Color de fondo del círculo */
    color: white; /* Color del texto dentro del círculo */
    text-align: center; /* Centra el texto dentro del círculo */
    line-height: 40px; /* Alinea verticalmente el texto */
    margin-right: 10px; /* Espacio a la derecha del círculo */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
    .modal-content {
        width: 95%; /* Ajusta el ancho en pantallas pequeñas */
    }

    .modal-body {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }

    .right-section {
        align-items: center; /* Centra las imágenes en pantallas pequeñas */
    }

    .left-section p {
        color: #333; /* Color del texto del párrafo */
        font-size: 15px;
        margin-left: 20px; /* Ajusta el valor a tu preferencia */
        margin-right: 20px; /* Ajusta el valor a tu preferencia */
    }  
    
    /* Estilos para los subtítulos */
    .left-section h3 {
        font-size: 1.2em; /* Tamaño de los subtítulos */
        margin-top: 15px; /* Espacio encima de los subtítulos */
        margin-bottom: 5px; /* Espacio debajo de los subtítulos */
        text-align: left; /* Alinea el texto de los encabezados a la izquierda */
        margin-left: 20px;
    }

    .modal h2 {
        text-align: center; /* Alinea el texto del título al centro */
        color: #333; /* Color del título */
        margin-bottom: 20px; /* Espacio debajo del título */
        font-size: 1.5em; /* Tamaño del título más grande */
    }

    .project-image-modal1 {
        width: 90%; /* Ajusta el ancho de las imágenes */
        height: auto; /* Mantiene la proporción de la imagen */
        margin: 2px 0; /* Espacio vertical entre las imágenes */
    }
    
    /* Alinear las imágenes en zig-zag */
    .right-section .project-image-modal1:nth-child(2) {
        margin-left: 0px; /* Desplaza la segunda imagen ligeramente hacia la derecha */
    }
}

.iframe-container {
    width: 50%;
    display: flex;
    align-items: center; /* Centra verticalmente el iframe */
    justify-content: center; /* Centra horizontalmente el iframe */
}

.iframe-container iframe {
    width: 100%;
    height: 373.5px;
}
